# Predictive Model for Next Month's Credit Card Delinquencies

### Problem:
Our client is a credit card company. They brought us a dataset that includes recent demographic and financial data (from the last six months) from a sample of 30,000 account holders. This data was at the credit account level. The rows are labeled according to whether, in the month following the six-month historical data period, an account holder became delinquent, i.e., did not make the minimum payment.

### Objective:
Develop a predictive model to forecast whether an account will become delinquent in the next month, using demographic and historical data.

### Data dictionary:
- ID = ID
- LIMIT_BAL: Amount of credit granted (in New Taiwan Dollars), including individual consumer and family credit.
- SEX: Gender (1 = male ; 2 = female)
- EDUCATION: Level of Education (1 = graduate school; 2 = university; 3 = high school; 4 = others)
- MARRIAGE: Marital Status (1 = married ; 2 = single ; 3 = others)
- AGE: Idade (years)
- PAY_1 - PAY_6: Records of Past Payments. Monthly payments from April to September are stored in these columns.
  - PAY_1 = Represents the September refund
  - PAY_2 = Represents the August refund
  - ...
  - PAY_6 = Represents the April refund
  - The payment scale is as follows: -1 = On-time payment; 1 = One-month payment delay; 2 = Two-month payment delay; And so on, up to 9 = Nine-month or more payment delay.
- BILL_AMT1 - BILL_AMT6: Invoice amount
  - BILL_AMT1 = Represent the September invoice amount
  - BILL_AMT2 = Represent the August invoice amount
  - ...
  - BILL_AMT6 = Represent the April invoice amount

## 1. Loading the libraries and dataset

In [1]:
# Loading the Pandas Library
import pandas as pd

In [3]:
# First, install the required dependency
!pip install xlrd>=2.0.1

In [4]:
# Loading the dataset
df = pd.read_excel('./data/default_of_credit_card_clients__courseware_version_1_21_19.xls')

## 2. Data exploration

In [10]:
# Checking the numbers of rows and columns
print(f"The dataframe have", df.shape[0], "rows and", df.shape[1], "columns")

The dataframe have 30000 rows and 25 columns

In [11]:
# First view
df.head(5)

,ID,LIMIT_BAL,SEX,EDUCATION,MARRIAGE,AGE,PAY_1,PAY_2,PAY_3,PAY_4,...,BILL_AMT4,BILL_AMT5,BILL_AMT6,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6,default payment next month
0,798fc410-45c1,20000,2,2,1,24,2,2,-1,-1,...,0,0,0,0,689,0,0,0,0,1
1,8a8c8f3b-8eb4,120000,2,2,2,26,-1,2,0,0,...,3272,3455,3261,0,1000,1000,1000,0,2000,1
2,85698822-43f5,90000,2,2,2,34,0,0,0,0,...,14331,14948,15549,1518,1500,1000,1000,1000,5000,0
3,0737c11b-be42,50000,2,2,1,37,0,0,0,0,...,28314,28959,29547,2000,2019,1200,1100,1069,1000,0
4,3b7f77cc-dbc0,50000,1,2,1,57,-1,0,-1,0,...,20940,19146,19131,2000,36681,10000,9000,689,679,0

In [13]:
# Columns types
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30000 entries, 0 to 29999
Data columns (total 25 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   ID                          30000 non-null  object
 1   LIMIT_BAL                   30000 non-null  int64
 2   SEX                         30000 non-null  int64
 3   EDUCATION                   30000 non-null  int64
 4   MARRIAGE                    30000 non-null  int64
 5   AGE                         30000 non-null  int64
 6   PAY_1                       30000 non-null  object
 7   PAY_2                       30000 non-null  int64
 8   PAY_3                       30000 non-null  int64
 9   PAY_4                       30000 non-null  int64
 10  PAY_5                       30000 non-null  int64
 11  PAY_6                       30000 non-null  int64
 12  BILL_AMT1                   30000 non-null  int64
 13  BILL_AMT2                   30000 non-null  int64
 14  BILL_AMT3                   30000 non-null  int64
 15  BILL_AMT4                   30000 non-null  int64
 16  BILL_AMT5                   30000 non-null  int64
 17  BILL_AMT6                   30000 non-null  int64
 18  PAY_AMT1                    30000 non-null  int64
 19  PAY_AMT2                    30000 non-null  int64
 20  PAY_AMT3                    30000 non-null  int64
 21  PAY_AMT4                    30000 non-null  int64
 22  PAY_AMT5                    30000 non-null  int64
 23  PAY_AMT6                    30000 non-null  int64
 24  default payment next month  30000 non-null  int64
dtypes: int64(23), object(2)
memory usage: 5.7+ MB

In [15]:
# Checking for unique IDs
df['ID'].nunique()

29687

In [18]:
# Checking for duplicate values
id_counts = df['ID'].value_counts()
id_counts.value_counts()

count
1    29374
2      313
Name: count, dtype: int64